<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Activated{% endblock title %}</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        {% block style %}{% endblock style %}

        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
